# REQUIRED ENVIRONMENT VARIABLES
POSTGRES_PASSWORD=freePassword123
JWT_SECRET_KEY=7a5b1383a8a637b41e82aa0a50c795f365e0cbf503893072238f9f0088ba0c21 # To generate a new secret key, run `openssl rand -hex 32` in your terminal.
DEVELOPER_USER_PASSWORD=devel01

# RECOMMENDED ENVIRONMENT VARIABLES
POSTGRES_USER=postgres
POSTGRES_DB=postgres

## OPTIONAL ENVIRONMENT VARIABLES (Uncomment below to override defaults)
# JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
# JWT_ALGORITHM=HS256
# JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15